.grafico{
    
display: block;
margin-left: auto;
margin-right: auto;

}

.links {
    background: linear-gradient(#18013a, #8d6cfc);
    margin: 0.6rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 20rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 4px (0,0,0) ;
    display: flex;
    justify-content: space-evenly;
}

.links a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;

}
.links a :hover {
    background-color: #8d6cfc;
    color: #3e0b8b
    
}
.barra {
    height: 2.9rem;
    border-left: 1px solid #fff ;
}